---
layout: page
title: Welcome
permalink: /
---

<h1 id="intro-heading">Hi, I'm Ben</h1>
<p>
  A consultant from Sydney, focusing on capital-intensive projects in transport, energy, and water. This site is here to host some of my data analysis and <a href="/tags#data">visualisation</a>, design, <a href="/photos">photos</a> and <a href="/books">reading list</a>—my contact details are also available <a href="/contact">here</a>. 
  Explore below:
</p>

<div id="links-about">
  {% include callout.html 
      title="Posts"  
      content="Random little thoughts and notes."
      color-hsl="120deg 90% 45%"
      link="/posts"
  %}

  {% include callout.html 
    title="Photos"  
    content="Shots from around Sydney and trips I've been on."
    color-hsl="270deg 100% 70%"
    link="/photos"
  %}

  {% include callout.html 
    title="Books"  
    content="My reading list going back to 2020, with notes."
    color-hsl="210deg 100% 75%"
    link="/books"
  %}

  {% include callout.html 
    title="NBA"  
    content="I keep track of some NBA stats. Enjoy!"
    color-hsl="30deg 100% 50%"
    link="https://nba.ben.report"
  %}
</div>