---
layout: default
title: Bookshelf
updated: August 2024
permalink: /books
---

<article>

<div class="reading-meta">
  <p>
    A list of books I've read since 2020. I'm working back through to add a short review for each book; for now some have <a href="{{ site.baseurl }}/books/reviews">older, longer reviews</a> linked. 
    This list was last updated in {{ page.updated }}.
  </p>
  <p>
    I'm always happy to chat about books, so <a href="{{ site.baseurl }}/contact/">reach out</a>!
  </p>
</div>

{% for entry in site.data.reading.years %}
<div class="book-cat-wrap">
  <div class="list-cat">
    <h1>{{ entry.year }}</h1>
    <span class="number">{{ entry.books | size }} books</span>
  </div>
  <div class="list-cat-container">
    {% for book in entry.books %}
      
      {% assign has_review = false %}
      {% assign book_url = book.link %}
      
      {% for review in site.reviews %}
        {% if review.book == book.title %}
          {% assign book_url = review.url %}
          {% assign has_review = true %}
        {% endif %}
      {% endfor %}

      <h2 class="list-item {% if book.star %} starred{% endif %}" id="{{ book.title | replace: ' ', '_' }}">
        {% if has_review %}<a class="book-link" href="{{ book_url }}">{% endif %}
        {{ book.title }}
        {% if has_review %}</a>{% endif %}
      </h2>
      <h3 class="author"> by {{ book.author }}</h3>
      {% if book.review %}<p>{{ book.review | markdownify }}</p>{% endif %}
    {% endfor %}  
  </div>
</div>
{% endfor %}
</article>