  <nav role="navigation"{% if include.class %}class="{{ include.class }}"{% endif %}>
  
    <a class="navName"{% if page.url contains "photos" %} id="photos"{% endif %} href="/">
      <span class="home-icon">🏠</span>
      <div class="name-mix">
        <span>ben.</span>
        <span id="r1">r</span>
        <span id="e">e</span>
        <span id="p">p</span>
        <span id="o">o</span>
        <span id="r2">r</span>
        <span id="t">t</span>
     </div>
    </a>
  
    <ul class="nav-main">
      {% for item in site.nav_header %}
        <li class="{% if page.url contains item.url %} active{% endif %}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  
    {% include theme_switch.html %}
  
  </nav>