<div class="post-footer">

  {% if page.tags %}
	  <ul class="flexbox">
		  {% for tag in page.tags %}
        <li>
          <a href="/tags#{{ tag | downcase }}" class="tag">#{{ tag }}</a>
        </li>
      {% endfor %}
	  </ul>
  {% endif %}

  {% if page.date %}
    {% capture last_updated %}{% last_modified {{ post.path }} %}{% endcapture %}
    <div class="post-publish narrow-remove">
      <p>First published: <strong>{{ page.date | date: "%Y-%m-%d" }}</strong></p>
      <p>Last updated: <strong>{{ last_updated | date: "%Y-%m-%d" }}</strong></p>
    </div>
  {% endif %}

</div>