@import url('https://rsms.me/inter/inter.css');

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 16px;

  letter-spacing: -0.025em;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

//h1, h2 {
//  font-family:  "Inter", "Helvetica", sans-serif;
//}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  filter: blur(0.3px);
}

h1 {
  margin: 4rem 0;
  font-size: 2rem;
}

h2, h3 {
  margin: 2rem 0 1rem 0;
  filter: blur(0.3px);
}

h2 {
  font-size: 1.5em;
  border-top: 1px solid var(--fg-accent-1);
  
  padding-top: 0.3em;
}

h3 {
  font-size: 1.2em;
}

li[id*="fn:"] p {
  display: inline;
}

p { 
  margin: 0.5rem 0 1.5rem 0;
}

.post-footer {
  font-size: 14px;
}

code {
  font-size: 0.85em;
  //letter-spacing: -0.02em;
}