// Colours
@use "sass:color";

// 1. Input Variables
// 1.1 Layout
$content-width: 650px; // width of main content column
$navbar-height: 90px; // side of navbar
$sidebar-width: 220px; // width of sidebar
$sidebar-margin: 2.5em;

//$total-sidebar: 2 * #{$sidebar-width};

$border-radius: 10px; // border radius across the site
$pic-wide: 200px; // margin amount for extra wide pictures
$caption-wide: calc(1 / #{$pic-wide}); // fits the caption back to normal content width

// 1.2 Main colours
$light: hsl(70, 35%, 92%);
$dark: hsl(155, 20%, 25%);

//$dark: hsl(155, 25%, 15%);
//$dark: hsl(185, 45, 25);
//$light: hsl(80, 30%, 97%);


// 2 Calculated Variables
// 2.1 Main colours and accents
$dark_accent_1: hsl(150, 25%, 45%);
$dark_accent_2: hsl(150, 15%, 30%);
$dark_accent_3: hsl(150, 25%, 35%);
$light_accent_1: hsl(150, 15%, 60%);
$light_accent_2: hsl(70, 15%, 95%);
$light_accent_3: hsl(150, 15%, 80%);

$dark-transparent-1: scale-color($dark, $alpha: -55%);
$dark-transparent-2: scale-color($dark_accent_1, $alpha: -70%);
$light-transparent-1: scale-color($light, $alpha: -55%);
$light-transparent-2: scale-color($light_accent_1, $alpha: -70%);

// 2.2 CSS Variables
// Converting sass variable colours to CSS variables for the dark / light theme switcher
// The theme sets which of the two input colours is --fg (foreground) and which is --bg (background)

:root {

  // Padding for narrow screen widths
  --narrow-padding: max(1.5em, calc((100vw - #{$content-width}) / 2));
  --photo-padding: max(10px, calc(100vw / 2000));

  --bg: #{$light};
  --fg: #{$dark};

  --bg-accent-1: #{$light_accent_1};
  --bg-accent-2: #{$light_accent_2};
  --bg-accent-3: #{$light_accent_3};

  --fg-accent-1: #{$dark_accent_1};
  --fg-accent-2: #{$dark_accent_2};

  --bg-transparent: #{$light-transparent-1};
  --bg-accent-transparent: #{$light-transparent-2};

  --shadow-color: rgba(0, 0, 0, 0.03);
  --border-color: var(--fg-accent-1);

  --navName-color: #3f6d56;
}

[data-theme="dark"] {
  --bg: #{$dark};
  --fg: #{$light};

  --bg-accent-1: #{$dark_accent_1};
  --bg-accent-2: #{$dark_accent_2};
  --bg-accent-3: #{$dark_accent_3};

  --fg-accent-1: #{$light_accent_1};
  --fg-accent-2: #{$light_accent_2};

  --bg-transparent: #{$dark-transparent-1};
  --bg-accent-transparent: #{$dark-transparent-2};

  --shadow-color: rgba(0, 0, 0, 0.08);
  --border-color: var(--bg-accent-1);

  --navName-color: #76ba98;

  // Theme switch button
  .dark-icon {
    //display: none;
    opacity: 0%;
  }

  .light-icon {
    //display: block;
    opacity: 100%;
  }

  .dark-show {
    display: block;
  }

  .light-show {
    display: none;
  }
}

// Utility classes

.block {
  display: block;
} 

.dark-show {
  display: none
}

.mb3 {
  margin-bottom: 3em;
}

.border-top {
  border-top: 1px solid var(--bg-accent-1);
  padding-top: 0.5em;
}

.border-bottom {
  border-bottom: 1px solid var(--bg-accent-1);
  padding-bottom: 1em;
}

.top-u1 {
  top: -1rem;
}

.top-u2 {
  top: -1.89rem;
}

.top-u3 {
  top: -2.89rem;
}

.mb-2 {
  margin-bottom: 2em;
}

.upper {
  text-transform: uppercase;
}

.card {

  background: var(--fg-accent-2);
  //border-radius: $border-radius;
  //border: 1px solid var(--fg-accent-1);
  color: var(--bg);

  box-shadow: 0 2px 2px var(--shadow-color), 
               0 4px 4px var(--shadow-color);

  transition: 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li {
    display: inline-block;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.narrow-show {
  display: none;
}

// Defaults

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  min-height: 100%;
  box-sizing: content-box;
}

body {
  color: var(--fg);
  background-color: var(--bg);

  margin: 0;
  counter-reset: sidenote; // Initialise sidenote counter

  a {
    color: var(--fg);
    text-underline-offset: 3px;
    text-decoration-color: var(--bg-accent-1);
    text-decoration-thickness: 1.5px;
    //transition: 0.2s ease;

    &:not(nav a, .tag, .card, .list-cat-link, figure a, .image-wrapper a):hover {
      text-decoration-color: var(--fg-accent-1);
      text-decoration-thickness: 2px;
    }
  }
}

main {
  position: relative;
  min-height: 100vh;
}

article>ul, ol {
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }
}

article {
  margin: auto;
  width: $content-width;
  padding-bottom: 7em;
}

nav {
  font-size: 16px;
  position: relative;
  z-index: 1;
  
  margin: 0 auto;
  height: $navbar-height;
  display: grid;
  grid-template-columns: 1fr $content-width 1fr;
  align-items: center;

  &:hover {

    a:not(.navName), a:visited {
      color: var(--fg);
    }

    svg * {
      fill: var(--navName-color);
    }

    .nav-main {
      background: var(--bg-transparent);
      backdrop-filter: blur(10px);
    }

    .active {
      text-decoration-color: var(--fg);
    }

    .navName {
      color: var(--bg) !important;
      background: var(--navName-color);
      border: 1px solid transparent;
    }
  }

  ul {
    li {
      display: inline-block;
    }
  }

  .nav-main {
    width: fit-content;
    padding: 0.4em 1.2em;
    margin: 0;
    margin-left: -1em;

    border-radius: calc(#{$border-radius} * 2);
    border: 1px solid transparent;
    //backdrop-filter: blur(5px);

    li:not(:last-child) {
      padding-right: 1em;
    }

    * {
      transition: 0.25s ease color;
    }
  }

  .nav-secondary {
    text-align: left;
    font-size: 0.9rem;
    margin: 0;

    li {
      margin-bottom: 0.3rem;
    }
  }

  a, a:visited {
    padding: 0;
    text-decoration: none;
    font-weight: 500;
    color: var(--bg-accent-1);

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: var(--fg-accent-1);
    }
  }

  .active {
    text-decoration: underline;
    text-decoration-color: var(--bg-accent-1);
    text-underline-offset: 4px;
  }

  .navName {
    width: fit-content;
    margin-right: 2.5em;
    justify-self: right;
    padding: 0.4em 1.1em;

    font-weight: 600;

    transition: 0.3s ease background;

    //background: var(--navName-color); // #4d7359
    //color: var(--bg) !important;

    border: 1px solid var(--bg-accent-1);
    border-radius: calc(#{$border-radius} * 2);

    &:hover {
      //border: 1px solid var(--fg-accent-1);
      box-shadow: 0 2px 2px var(--shadow-color), 
                  0 4px 4px var(--shadow-color), 
                  0 8px 8px var(--shadow-color), 
                  0 16px 16px var(--shadow-color);
    }
  }

  .home-icon {
    display: none;
    margin-right: 1em;
    font-size: 24px;
  }
}

li::marker {
  margin-left: -0.1em;
}

// Post Footer Elements

// Keeps footnotes from changing the line height they're in
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;

  .footnote {
    font-size: 10px;
  }
}

a.footnote {
  text-underline-offset: 1px;
  font-weight: 600;
  font-size: 0.85em;
  color: var(--fg-accent-2);
}

.footnotes {
  font-size: 0.9em;

  ol {
    margin-bottom: 0;
  }
}

.footnotes::before {
  content: "Footnotes";
  font-size: 1.2rem;
  font-weight: 500;
  filter: blur(0.3px);
}

[id*='fn'] {
  padding-bottom: 0.6em;
}

.post-footer, .post-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer {
  padding-top: 0.5em;
}

.post-nav {
  //border-radius: $border-radius;
  border-top: 1px solid var(--bg-accent-1);
  padding: 1em;

  margin: 0 -1em 1em -0.8em;

  * {
    color: var(--fg-accent-2);
  }
}

//div + .post-nav {
  //padding-top: 0;
  //margin: 0 -0.8em;

  //border-top: none;
  //border-radius: 0 0 $border-radius $border-radius;
//}

.post-nav-arrow {
  width: 50%;

  p {
    //padding: 0 0.5rem;
    margin: 0;
  }
}

.prev-page, .next-page {
  text-shadow: none;
}

.next-page {
  text-align: right;
  
  p {
    padding-left: 0.5em;
  }
}

.prev-page p {
  padding-right: 0.5em;
}

.post-publish {
  color: var(--bg-accent-1);
}

blockquote, .footnotes {
  background: var(--bg-accent-2);
  margin: 1.2em -1rem;
  padding: 1rem;

  border: 1px solid var(--bg-accent-3);
  border-radius: $border-radius;

  &:hover {
    box-shadow: 0 2px 2px var(--shadow-color), 
                0 4px 4px var(--shadow-color), 
                0 8px 8px var(--shadow-color);
  }
 
  p {
    margin: 0;
  }
}

.quote-meta {
  margin-top: 0.8em;
  font-size: 0.9em;
}

*:not(pre) > code {
  border-radius: 3px;
  padding: 0.1em 0.3em;
  background-color: var(--bg-accent-2);
}

div.highlighter-rouge {
  border: 1px solid var(--bg-accent-1);
  //border-radius: $border-radius;
  margin-bottom: 1.5em;
}

.highlight {
  margin: 0;
  padding: 0.7em;

  //border-radius: $border-radius;

  line-height: 1.3em;

  overflow-y: auto;
}

.tag {
  text-decoration: none;
  padding: 0.3em 0.5em;
  border-radius: calc(#{$border-radius} * 2);

  background-color: var(--bg);
  border: 1px solid var(--bg-accent-1);

  &:hover {
    border: 1px solid var(--fg-accent-1);
    box-shadow: 0 2px 2px var(--shadow-color),
                0 4px 4px var(--shadow-color),
                0 8px 8px var(--shadow-color);
  }
}

footer {
  font-size: 14px;
  color: var(--bg-accent-1);
  margin: auto;
  padding-bottom: 2em;
  
  position: absolute;
  bottom: 0;
  left: calc(50vw - 325px);
}

.gallery-meta footer {
  left: 0;
}

.top-return {
  position: sticky;
  bottom: 3em;
  padding-left: 4.5em;
}

// Bookshelf

.horizontal-reading {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  overflow-x: scroll;
  align-items: end;
  
  width: 100vw;
  margin-left: calc(325px - 50vw);
  padding-left: calc(50vw - 325px - 121px);
  padding-bottom: 2em;

  // To hide the TOC behind the bookshelf
  position: sticky;
  z-index: 2;
  background-color: var(--bg);
}

.horizontal-book {
  --padding-top: calc(50px + 1px * var(--random));
  align-items: end;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;

  padding: var(--padding-top) 1em 2em 1em;

  min-width: calc(0.25px * var(--pages));
  width: max-content;
  min-height: calc(18em + var(--padding-top));

  text-decoration: none;

  * {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    max-height: 12em;
    font-size: 1.1em;
  }

  .title {
    font-weight: 600;
  }
}

.horizontal-meta {
  font-size: 28px;
  font-weight: 600;
  color: var(--bg-accent-1);
  padding-right: 1em;
  white-space: nowrap;

  &:not(:first-child) {
    padding-left: 2.5em; 
  }

  * {
    display: inline;
  }
}

// Book Colors
.color-0 {
  background: var(--fg);
  color: var(--bg);
}
.color-1 {
  background: #eb8919;
  color: #eff2e3;
}
.color-5 {
  background: #b2e6d8;
  color: #334d42;
}
.color-3 {
  background: var(--bg-accent-3); //#e9ebae
}
.color-2 {
  background: #f7c8a8;
  color: #334d42;
}
.color-4 {
  background: #313131;
  color: #eff2e3;
}

.book-cat-wrap {
  display: grid;
  grid-template-columns: 1fr $content-width;
  margin-left: -10em;

  .list-cat {
    position: inherit;
    font-size: 1.75em;
    padding-top: 0.4em;

    div {
      position: sticky;
      top: 1em;
      text-align: right;
      padding-right: 1.8em;
    }

    .number {
      position: inherit;
      top: auto;
      display: block;
      font-weight: 400;
    }
  }

  .list-cat-container h2:first-child {
    margin-left: -10rem;
    padding-left: 10rem;
  }
}


// "Lists" Layout

.list-cat {
  position: relative;
  left: -4.5em;
  top: 0.75em;


  font-size: 20px;
  color: var(--bg-accent-1);
  font-weight: 600;

  .number {
    position: relative;
    top: 1.5em;
    left: -4.5em;
    font-size: 0.8em;
  }
}

.list-cat-link {
  text-decoration: none;
}

.list-cat-container {
  position: relative;
  //margin-top: 1em;

  ul {
    padding: 0;
    margin: 0;
  }
}

.list-item {
  margin-top: 0.5rem;
  display: block;

  .list-link {
    text-decoration: none;
  }

  .list-link, .book-link {

    &:hover {
      background: var(--bg-accent-transparent);
      text-decoration: none;
    }
  }
}

.tag-date {
  font-weight: 500;
  margin-left: 0.5em;
}

// List cards

.card-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  .card {
    padding: 2em;
  }

  a {
    text-decoration: none;
  }
}

.list-card {
  padding: 2em;
  border: 1px solid;
  border-radius: $border-radius;
  background: #aaa;
}

.border-top > .card-collection {
  margin-top: 0.5em;
}

// Home Page

.nav-about {
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;

  li {
    display: block;
    padding-left: 0;
  }
}

#-hi-im-ben {
  margin-top: calc(4.5rem + #{$navbar-height});
}

// "Book" Layout

.book-intro {
  margin: 4.5rem 0;

  h1 {
    margin: 0;
  }
}

.strong {
  font-weight: 550;
}

.list-cat-container .author {
  //font-size: 0.85em;
  font-weight: 350;
  margin: -1em 0;
  margin-bottom: 1em;
}

.starred {
  list-style-type: "★";
  //margin-left: -0.3em;
  //padding-left: 0.3em;
  display: list-item;

  &::marker {
    color: var(--bg-accent-1);
  }
}

// Figures

figure {
  margin: 2em 0;

  a:hover {
    filter: none !important;
  }
}

figcaption {
  font-size: 0.85em;
  margin-top: 1em;
}

img {
  width: 100%;
  box-shadow: 0 2px 2px var(--shadow-color), 
               0 4px 4px var(--shadow-color), 
               0 8px 8px var(--shadow-color);
  //border-radius: $border-radius;
  //border: 1px solid var(--fg-accent-1);
}

.video {
  margin: 1em 0 2em 0;
}

iframe {
  width: $content-width;
  height: calc( #{$content-width} / 1.77777778 );
}

.pic-wide {
  width: calc(100vw - 2 * #{$pic-wide});
  margin-left: calc(#{$content-width} / 2 - 50vw + #{$pic-wide})
}

.caption-wide {
  font-style: italic;
}

// Hover / swap functionality for posts

.pic-hover-show {
  display: none;
}

.hover:hover {
  .pic-hover-show {
    display: block;
  }

  .pic-hover-hide {
    display: none;
  }
}


// Tables

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid;

  thead tr {
    background: var(--fg);
    color: var(--bg);
  }
}

tr {
  height: 35px;
  background: var(--bg-accent-2);

  &:hover:not(thead tr) {
    filter: brightness(110%);
  }
}

tr:nth-child(even) {
  background: var(--bg);
}

// Table of Contents

.toc {
  position: fixed;
  bottom: 3em;
  right: 4em;
  max-width: calc(100vw - #{$sidebar-width} - #{$content-width}); // leave a buffer if some headings are too long

  font-weight: 700;
  font-size: 15px;
  line-height: 1.7;
  text-align: right;

  padding: 0.5em;
  border-radius: $border-radius;

  transition: 0.3s ease;

  &:hover {
    background: var(--bg-transparent);
    backdrop-filter: blur(5px);
  }

  &:hover * {
    color: var(--fg-accent-1) !important;
  }

  * {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    color: transparent;
  }

  .toc-return {
    color: var(--bg-accent-1);
  }

  li {
    display: block;
    margin-bottom: 0.3em;
  }

  a {
    text-decoration: none;

    &:hover {
      color: var(--fg) !important;
    }
  }

  &>ul {
    margin-bottom: 1em;

    ul {
      font-weight: 400;
      line-height: 1.2;
      margin-top: 0.3em;
      margin-bottom: 0.8em;
    }
  }
}

// Gallery Page

.horizontal-gallery-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 11px 0;
  padding-left: calc(50vw - #{$content-width} / 2);
  -webkit-overflow-scrolling: touch;

  //grid-column: 1 / 3;

  margin-top: calc(-1 * #{$navbar-height});
  height: 100vh;

  &::-webkit-scrollbar {
    display: none;
}

  .image-wrapper {
    display: inline;
    //height: 100%;
    margin: 0 4px;
    background: var(--bg-accent-2);
    //border-radius: $border-radius;
    //box-shadow: 0 2px 2px var(--shadow-color), 
    //            0 4px 4px var(--shadow-color), 
    //            0 8px 8px var(--shadow-color);

    a {
      position: relative;
      text-decoration: none;
    }

    .image-caption {
      position: absolute;
      left: 2em;
      bottom: 1.5em;
      display: none;

      backdrop-filter: blur(5px);
      color: #eee;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      padding: 0.2em 0.3em;
    }

    &:hover {
      .image-caption {
        display: block;
      }
    }
  }
}

.img-gallery {
  height: 100%;
  width: auto;
  cursor: default;
}

.gallery-meta {
  width: 500px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  vertical-align: top;
  white-space: normal;
  padding: calc(4rem + #{$navbar-height} - 11px) 3rem 0 0;
  height: 100%;
  

  h1 {
      margin: 0 0 4.5rem 0;
  }

  footer {
    position: relative;
    margin: 1.5em 0;
  }
}

.photo-nav-wide {
  position: absolute;
  //background: var(--bg-transparent);
  backdrop-filter: blur(5px);
  width: 136px;
}

.photo-nav-narrow {
  display: none;
}

mark {
  background: var(--fg-accent-1);
  color: var(--bg);
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

// Responsiveness
// Main breakpoint @ 1000px from multi-column to single column
// Comfortable until about 450px wide, then large nav icons disappear

@media screen and (max-width: 1000px) {
  body {
    line-height: 1.7;
  }

  h1 {
    line-height: 1.4;
  }

  h2, h3 {
    filter: none;
  }

  main {
    display: block;
    grid-template-rows: 85px 1fr;
    grid-template-columns: 1fr !important;

    //* {
    //  grid-column: 1;
    //}
  }

  .no-grid {
    display: block;
  }

  article {
    box-shadow: none;
    border: none;
    width: 100vw;

    padding: 0em var(--narrow-padding);
    padding-bottom: 7em;
  }

  nav {

    padding: 0 var(--narrow-padding);

    a, a:visited {
      color: var(--fg-accent-1);
    }

    .navName {
      //margin-right: 0;
      background: none;
      border: none;
      padding: 0;

      &:hover {
        box-shadow: none;
        text-decoration: none;
      }

      .home-icon {
        display: block;
        margin: -0.3em 0;
        padding: 0;
        font-size: 26px;
      }
    }

    .name-mix {
      display: none;
    }

    button {
      position: absolute;
      right: var(--narrow-padding);
      top: 35px;
      left: auto;
      padding-right: 1em;
    }
  }

  .list-cat .number {
    position: initial;
    
    &:before {
      content: "("
    }

    &:after {
      content: ")"
    }
  }

  .book-cat-wrap {
    display: block;
    margin-left: 0;

    .list-cat {
      font-size: 1.5em;

      div {
        text-align: left;
      }

      .number {
        display: inline;
      }
    }

    .list-cat-container h2:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .starred {
    display: block;

    &::after {
      content: "★";
      color: var(--bg-accent-1);
    }
  }

  //nav {
    //margin: 0;
    //padding: 1em 1.5em;
    //position: static;
    //font-size: 16px;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;

    //height: 60px;

    //width: auto;
    
    //border: none;
    //border-bottom: 1px solid var(--bg-accent-1);
    //border-radius: 0;

    //a, a:visited {
    //  color: var(--fg-accent-1);
    //}

    //&:hover {

    //  border: none;
    //  border-bottom: 1px solid var(--fg-accent-1);

    //  a, a:visited {
    //    color: var(--fg-accent-1);
    //  }
    //}

    //.navName {
    //  width: auto;
    //  padding: 0;
    //  margin-right: 0;
    //}

    //.nav-main {
    //  display: inline-flex;
    //  margin: auto 0;
    //  padding: 0 0.6rem;

    //  li {
    //    margin-bottom: 0;
    //    padding: 0 0.6em;
    //  }
    //}

    //.nav-secondary {
    //  display: none;
    //}

    //button {
    //  background: none;
    //  margin: 0;
    //  width: 80px;
    //}
    
    //svg * {
    //  fill: var(--fg-accent-1) !important;
    //}

    //.light-icon, .dark-icon {
    //  top: 1.5em;
    //  margin-left: 1em;
    //  padding: 0;
    //}

    //* {
    //  padding-left: 0.9em;
    //}
  //}

  .about-button {
    top: -2.6em !important;
    //left: 14em !important;
  }

  h1 {
    margin: 3rem 0;
  }

  h2, h3 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  .no-nav {
    grid-row: 1/3;
  }

  .narrow-remove {
    display: none;
  }

  .narrow-show {
    display: block;
  }

  .narrow-show-inline {
    display: inline;
  }

  ul, ol {
    padding-left: 1.2em;
  }

  .list-cat-container, .flexbox {
    padding-left: 0;
  }

  footer {
    margin: 0;
    //padding: 2rem;
    left: var(--narrow-padding);
  }

  .post-nav {
    font-size: 16px;
  }

  .list-cat {
    position: static;
  }

  .list-cat-container {
    position: static;
    margin-bottom: 1em;
    margin-top: 0.3em;
  }

  .pic-wide {
    width: auto;
    margin: auto;
  }

  .caption-wide {
    width: 100%;
    margin-left: 0;
  }

  .col-2 {
    height: auto;
  }

  iframe {
    width: calc(100vw - (2 * var(--narrow-padding)));
  }

  .horizontal-gallery-wrapper {
    overflow: auto;
    white-space: normal;
    padding: 0 var(--narrow-padding);
    padding-top: $navbar-height;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    .gallery-meta {
      display: block;
      padding: 3rem 0 0 0;
      width: auto;
      height: auto;

      footer {
        display: none;
      }
    }

    .image-wrapper {
      display: contents;
      height: auto;
    }

    .img-gallery {
      height: auto;
      max-width: 90vw;
      max-height: 90vh;
    }
  }
}

// Removing nav elements at really narrow widths
@media screen and (max-width: 470px) {
  body {
    font-size: 16px;
  }
}


// Theme Switch

button {
  position: relative;
  left: -20px;
  top: -10px;
  width: fit-content;

  border: none;
  //margin: 2em 0 2.5em 1.7rem;
  cursor: pointer;
  //background: none;
}

p button {
  margin: 0;
}

.light-icon, .dark-icon {
  //transition: opacity 0.1s ease;
  position: absolute;

  * {
    fill: var(--bg-accent-1);
    //transition: fill 0.3s ease;
  }
}

.light-icon {
  opacity: 0%;
}

.dark-icon {
  opacity: 100%;
}

.about-button {
  position: relative;
  top: -2.4em;
  left: 14.4em;
  margin: -1em;

  button {
    margin: 0;
  }
}


// Report -> Porter

.navName {
  * {
    margin: -0.1em -0.13em;
    padding: 0;
    //position: relative;
    display: inline-block;

    //transition: translate 0.2s ease;
  }

  &:hover {
    #r1 {
      translate: 39.1px;
    }

    #e {
      translate: 24.7px;
    }

    #p {
      translate: -13.5px;
    }

    #o {
      translate: -13.3px;
    }

    #r2 {
      translate: -13.3px;
    }
    
    #t {
      translate: -12.4px;
    }
  }
}