// Colours
@use "sass:color";

// 1. Input Variables
// 1.1 Layout
$content-width: 650px; // width of main content column
$sidebar-width: 220px; // width of sidebar
$sidebar-margin: 2.5em;

$total-sidebar: 2 * #{$sidebar-width};

$border-radius: 5px; // border radius across the site

$pic-wide: 1.3; // overflow amount for wide pictures
$caption-wide: calc(1 / #{$pic-wide}); // fits the caption back to normal content width

// 1.2 Main colours
$dark: hsl(165, 25%, 15%);
//$dark: hsl(185, 45, 25);
$light: hsl(155, 33%, 97%);


// 2 Calculated Variables
// 2.1 Main colours and accents
$dark_accent_1: lighten($dark,25%);
$dark_accent_2: lighten($dark,6%);
$light_accent_1: darken($light, 25%);
$light_accent_2: darken($light, 6%);

$dark-transparent: scale-color($dark_accent_2, $alpha: -40%);
$light-transparent: scale-color($light_accent_2, $alpha: -40%);

// 2.2 CSS Variables
// Converting sass variable colours to CSS variables for the dark / light theme switcher
// The theme sets which of the two input colours is --fg (foreground) and which is --bg (background)

:root {

  // Padding for narrow screen widths
  --narrow-padding: max(1.5em, calc((100vw - #{$content-width}) / 2));
  --photo-padding: max(10px, calc(100vw / 2000));

  --bg: hsl(50, 70%, 97%);
  --fg: #{$dark};

  --bg-accent-1: #{$light_accent_1};
  --bg-accent-2: #{$light_accent_2};

  --fg-accent-1: #{$dark_accent_1};
  --fg-accent-2: #{$dark_accent_2};

  --nav-color: #{$dark_accent_1};
  --bg-transparent: #{$light-transparent};

  --shadow-color: rgba(0, 0, 0, 0.03);
  --border-color: var(--fg-accent-1);

  --sidenote-width: 30ch;
  --sidenote-margin: 2em;
}

[data-theme="dark"] {
  --bg: #{$dark};
  --fg: #{$light};

  --bg-accent-1: #{$dark_accent_1};
  --bg-accent-2: #{$dark_accent_2};

  --fg-accent-1: #{$light_accent_1};
  --fg-accent-2: #{$light_accent_2};

  --nav-color: #{$dark};
  --bg-transparent: #{$dark-transparent};

  --shadow-color: rgba(0, 0, 0, 0.08);
  --border-color: var(--bg-accent-1);

  .nav {
    border: 1px solid var(--bg-accent-2);
  }

  // Theme switch button
  .dark-icon {
    //display: none;
    opacity: 0%;
  }

  .light-icon {
    //display: block;
    opacity: 100%;
  }

  .dark-show {
    display: block;
  }

  .light-show {
    display: none;
  }
}

// Utility classes

.block {
  display: block;
} 

.dark-show {
  display: none
}

.mb3 {
  margin-bottom: 3em;
}

.border-top {
  border-top: 1px solid var(--border-color);
  padding-top: 0.5em;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1em;
}

.top-u1 {
  top: -1rem;
}

.top-u2 {
  top: -1.89rem;
}

.top-u3 {
  top: -2.89rem;
}

.mb-2 {
  margin-bottom: 2em;
}

.upper {
  text-transform: uppercase;
}

.card {

  background: var(--fg-accent-2);
  border-radius: $border-radius;
  border: 1px solid var(--fg-accent-1);
  color: var(--bg);

  box-shadow: 0 2px 2px var(--shadow-color), 
               0 4px 4px var(--shadow-color);

  transition: 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li {
    display: inline-block;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.narrow-show {
  display: none;
}

// Defaults

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background-color: var(--bg-accent-2);

  margin: 0;

  transition: background-color 0.2s ease;

  counter-reset: sidenote; // Initialise sidenote counter

  a {
    color: var(--fg);
    text-underline-offset: 3px;
    text-decoration-color: var(--bg-accent-1);
    text-decoration-thickness: 1.5px;
    transition: 0.2s ease;

    &:not(nav a, .tag, .card, .list-cat-link, figure a, .image-wrapper a):hover {
      text-decoration-color: var(--fg-accent-1);
      text-decoration-thickness: 2px;
    }
  }
}

article>ul, ol {
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }
}

article {
  grid-column: 2;
  padding-bottom: 7em;
}

nav {
  grid-column: 1;
  width: calc(#{$sidebar-width} - #{$sidebar-margin} - #{$sidebar-margin});

  position: fixed;
  top: 3.75rem;
  height: fit-content;
  margin: 0 $sidebar-margin;
  font-size: 16px;
  padding: 1em 0;

  z-index: 1;
  backdrop-filter: blur(5px);

  transition: 0.2s ease;
  border-radius: $border-radius;

  &:hover {
    background: var(--bg-transparent);

    a, a:visited {
      color: var(--fg);
    }

    svg * {
      fill: var(--fg-accent-1);
    }
  }

  ul {
    padding: 0 1.8rem;

    li {
      display: block;
    }
  }

  .nav-main {
    margin: 1em 0;
    line-height: 1.2em;

    li {
      margin-bottom: 0.7em;
      text-transform: uppercase;

      a {
        font-weight: 600;
      }
    }
  }

  .nav-secondary {
    text-align: left;
    font-size: 0.9rem;
    margin: 0;

    li {
      margin-bottom: 0.3rem;
    }
  }

  a, a:visited {
    padding: 0;
    text-decoration: none;
    font-weight: 500;
    color: var(--bg-accent-1);

    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: var(--fg-accent-1);
    }
  }

  .active {
    text-decoration: underline;
    text-decoration-color: var(--bg-accent-1);
    text-underline-offset: 4px;
  }

  .navName {
    padding: 0.6em 0;
    width: 100%;
    display: block;
    text-align: center;
  }

  .home-icon {
    display: none;
    margin-right: 1em;
    font-size: 24px;
  }
}

// Main Grid Layout

main {
  display: grid;
}

.col-2 {
  // Two column layout - set in layout front matter
  grid-template-columns: $sidebar-width 
                         1fr;
  height: 100%;
}

.col-3 {
  // Three column layout - set in layout front matter
  grid-template-columns: $sidebar-width
                          $content-width
                          1fr;
  min-height: 100vh;
  position: relative;
}

li::marker {
  margin-left: -0.1em;
}

// Post Footer Elements

// Keeps footnotes from changing the line height they're in
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;

  .footnote {
    font-size: 10px;
  }
}

a.footnote {
  text-underline-offset: 1px;
  font-weight: 600;
  font-size: 0.85em;
  color: var(--fg-accent-2);
}

.footnotes {
  border: 1px solid var(--bg-accent-1);
  border-bottom: none;
  border-radius: $border-radius $border-radius 0 0;

  margin: 2em -0.8rem 0 -0.8rem;
  padding: 1.5em 2em;

  font-size: 0.9em;
  color: var(--fg-accent-2);
}

.footnotes::before {
  content: "Footnotes";
  font-size: 1.2rem;
  font-weight: 500;
  filter: blur(0.3px);
}

[id*='fn'] {
  padding-bottom: 0.6em;
}

.post-footer, .post-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer {
  padding-top: 0.5em;
}

.post-nav {
  border-radius: $border-radius;
  border: 1px solid var(--bg-accent-1);
  padding: 1em 2em;

  margin: 3em -0.8em 0 -0.8em;

  * {
    color: var(--fg-accent-2);
  }
}

div + .post-nav {
  padding-top: 0;
  margin: 0 -0.8em;

  border-top: none;
  border-radius: 0 0 $border-radius $border-radius;
}

.post-nav-arrow {
  width: 50%;

  p {
    padding: 0 0.5rem;
    margin: 0;
  }
}

.prev-page, .next-page {
  text-shadow: none;
}

.next-page {
  text-align: right;
  
  p {
    padding-left: 0.5em;
  }
}

.prev-page p {
  padding-right: 0.5em;
}

.post-publish {
  color: var(--bg-accent-1);
}

blockquote {
  background: var(--bg);
  margin: 1.2em -0.8em;
  padding: 1em 1em 1.1em 1em;

  border: 1px solid var(--bg-accent-1);
  border-radius: $border-radius;
  box-shadow: 0 2px 2px var(--shadow-color), 
               0 4px 4px var(--shadow-color);

  font-size: 0.9em;
  line-height: 1.5;
 
  p {
    margin: 0;
  }
}

.quote-meta {
  margin-top: 0.8em;
  padding-left: 1em;
  font-size: 0.9em;
}

*:not(pre) > code {
  border-radius: 3px;
  padding: 0.1em 0.3em;
  background-color: var(--bg);
}

div.highlighter-rouge {
  border: 1px solid var(--bg-accent-1);
  border-radius: $border-radius;
  margin-bottom: 1.5em;
}

.highlight {
  margin: 0;
  padding: 0.7em;

  border-radius: $border-radius;

  line-height: 1.3em;

  overflow-y: auto;
}

.tag {
  text-decoration: none;
  padding: 0.3em 0.5em;
  border-radius: 5px;

  background-color: var(--bg-accent-2);
  border: 1px solid var(--bg-accent-1);

  transition: 0.2s ease;

  &:hover {
    border: 1px solid var(--fg-accent-1);
    box-shadow: 0 2px 2px var(--shadow-color),
                0 4px 4px var(--shadow-color),
                0 8px 8px var(--shadow-color);
  }
}

footer {
  font-size: 14px;
  color: var(--bg-accent-1);
  margin: 2em 0;
  grid-column: 2;
  position: absolute;
  bottom: 0;
}

.top-return {
  position: sticky;
  bottom: 3em;
  padding-left: 4.5em;
}

// "Lists" Layout

.list-cat {
  position: relative;
  left: calc(#{$content-width} + 5px);

  font-size: 20px;
  color: var(--border-color);
  font-weight: 600;
}

.list-cat-link {
  text-decoration: none;
}

.list-cat-container {
  position: relative;
  margin-top: 1em;

  ul {
    padding: 0;
    margin: 0;
  }
}

.list-item {
  margin-top: 0.5rem;
  display: block;
}

.tag-date {
  font-weight: 500;
  margin-left: 0.5em;
}

// List cards

.card-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  .card {
    padding: 2em;
  }

  a {
    text-decoration: none;
  }
}

.list-card {
  padding: 2em;
  border: 1px solid;
  border-radius: $border-radius;
  background: #aaa;
}

.border-top > .card-collection {
  margin-top: 0.5em;
}

// Home Page

.nav-about {
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;

  li {
    display: block;
    padding-left: 0;
  }
}

// "Book" Layout

.book-intro {
  margin: 4.5rem 0;

  h1 {
    margin: 0;
  }
}

.strong {
  font-weight: 600;
}

.author {
  font-size: 0.85em;
  font-weight: 500;
  padding-left: 0.1em;
  margin-left: -0.1em;
}

.starred {
  list-style-type: "★";
  margin-left: -0.3em;
  padding-left: 0.3em;
  display: list-item;

  &::marker {
    color: var(--bg-accent-1);
  }
}

// Figures

figure {
  margin: 2em 0;

  a:hover {
    filter: none !important;
  }
}

figcaption {
  font-size: 0.85em;
  margin-top: 1em;
}

img {
  width: 100%;
  box-shadow: 0 2px 2px var(--shadow-color), 
               0 4px 4px var(--shadow-color), 
               0 8px 8px var(--shadow-color);
  border-radius: $border-radius;
  border: 1px solid var(--bg-accent-1);
}

.video {
  margin: 1em 0 2em 0;
}

.pic-wide {
  width: calc(100vw - #{$total-sidebar});
}

.caption-wide {
  font-style: italic;
}

// Hover / swap functionality for posts

.pic-hover-show {
  display: none;
}

.hover:hover {
  .pic-hover-show {
    display: block;
  }

  .pic-hover-hide {
    display: none;
  }
}

// Sidenotes

.sidenote {
  counter-increment: sidenote;
}

.sidenote_content-parenthesis {
  position: absolute;
  left: -99999px;
  top: auto;
}

.sidenote_content {
  display: block;
  position: relative;
  float: left;
  left: $content-width;
  //margin-top: calc(-1.5*var(--text-size)); // Align sidenote top with main text 
  margin-right: calc(-1 * var(--sidenote-width) - 1 * var(--sidenote-margin));
  width: var(--sidenote-width);
  padding: 0 0 0 3rem;

  color: var(--fg-accent-1);
  font-style: normal;

  &::before {
    content: counter(sidenote, upper-alpha) ".";
    margin-left: -1rem;
    //font-weight: 700;
  }
}

.sidenote_button::after {
  content: counter(sidenote, upper-alpha);
  display: inline-block;

  font-size: 0.7em;
  vertical-align: 30%;
  margin-left: -0.2em;
}

.sidenote_checkbox {
  display: none;
}

@media screen and (max-width: 1120px) {

  .sidenote_checkbox ~ .sidenote_content {
    // Hidden, but accessible to browsers that don't do CSS (e.g. screenreaders, Pocket)
    position: absolute;
    left: -99999px;
    top: auto;
  }

  .sidenote_checkbox:checked ~ .sidenote_content {
    position: relative;
    left: auto; 
    float: left;
    min-width: 100%;

    display: block;
    margin: 0.8rem 0;
    padding: 0 1rem;
  }

  .sidenote_button {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
    cursor: pointer;
  }

  .sidenote_checkbox:checked ~ .sidenote_button::after {
    content: none;
  }
}


// Tables

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid;

  thead tr {
    background: var(--fg);
    color: var(--bg);
  }
}

tr {
  height: 35px;
  background: var(--bg-accent-2);

  &:hover:not(thead tr) {
    filter: brightness(110%);
  }
}

tr:nth-child(even) {
  background: var(--bg);
}

// Table of Contents

.toc {
  position: fixed;
  bottom: 3em;
  right: 4em;
  max-width: calc(100vw - #{$sidebar-width} - #{$content-width}); // leave a buffer if some headings are too long

  font-weight: 700;
  font-size: 15px;
  line-height: 1.7;
  text-align: right;

  padding: 0.5em;
  border-radius: $border-radius;

  &:hover {
    background: var(--bg-transparent);
    backdrop-filter: blur(5px);
  }

  &:hover * {
    color: var(--fg-accent-1) !important;
  }

  * {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    color: transparent;
  }

  .toc-return {
    color: var(--bg-accent-1);
  }

  li {
    display: block;
    margin-bottom: 0.3em;
  }

  a {
    text-decoration: none;

    &:hover {
      color: var(--fg) !important;
    }
  }

  &>ul {
    margin-bottom: 1em;

    ul {
      font-weight: 400;
      line-height: 1.2;
      margin-top: 0.3em;
      margin-bottom: 0.8em;
    }
  }
}

// Gallery Page

.horizontal-gallery-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: var(--photo-padding) 0;
  padding-left: $sidebar-width;
  -webkit-overflow-scrolling: touch;

  grid-column: 1 / 3;

  &::-webkit-scrollbar {
    display: none;
}

  .image-wrapper {
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    background: var(--bg-accent-2);
    border-radius: $border-radius;
    box-shadow: 0 2px 2px var(--shadow-color), 
                0 4px 4px var(--shadow-color), 
                0 8px 8px var(--shadow-color);

    a {
      position: relative;
    }

    .image-caption {
      position: absolute;
      left: 2em;
      bottom: 1.5em;
      display: none;

      backdrop-filter: blur(5px);
      color: #eee;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      padding: 0.2em 0.3em;
    }

    &:hover {
      .image-caption {
        display: block;
      }
    }
  }
}

.img-gallery {
  height: 100%;
  width: auto;
}

.gallery-meta {
  width: 500px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  vertical-align: top;
  white-space: normal;
  padding: calc(4.5rem - 10px) 3rem 0 0;
  height: 100%;
  

  h1 {
      margin: 0 0 4.5rem 0;
  }

  footer {
    position: relative;
    margin: 1.5em 0;
  }
}

.photo-nav-wide {
  position: absolute;
  //background: var(--bg-transparent);
  backdrop-filter: blur(5px);
  width: 136px;
}

.photo-nav-narrow {
  display: none;
}

mark {
  background: var(--fg-accent-1);
  color: var(--bg);
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

// Responsiveness
// Main breakpoint @ 1000px from multi-column to single column
// Comfortable until about 450px wide, then large nav icons disappear

@media screen and (max-width: 1000px) {
  body {
    line-height: 1.7;
  }

  h1 {
    line-height: 1.4;
  }

  h2, h3 {
    filter: none;
  }

  main {
    display: block;
    grid-template-rows: 85px 1fr;
    grid-template-columns: 1fr !important;

    * {
      grid-column: 1;
    }
  }

  .no-grid {
    display: block;
  }

  article {
    box-shadow: none;
    border: none;
    width: 100vw;

    padding: 0em var(--narrow-padding);
    padding-bottom: 7em;
  }

  nav {
    margin: 0;
    padding: 1em 1.5em;
    position: static;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: auto;
    
    border: none;
    border-bottom: 1px solid var(--bg-accent-1);
    border-radius: 0;

    a, a:visited {
      color: var(--fg-accent-1);
    }

    &:hover {

      border: none;
      border-bottom: 1px solid var(--fg-accent-1);

      a, a:visited {
        color: var(--fg-accent-1);
      }
    }

    .navName {
      width: auto;
      padding: 0;
      margin-right: 0;
    }

    .nav-main {
      display: inline-flex;
      margin: auto 0;
      padding: 0 0.6rem;

      li {
        margin-bottom: 0;
        padding: 0 0.6em;
      }
    }

    .nav-secondary {
      display: none;
    }

    button {
      background: none;
      margin: 0;
      width: 80px;
    }
    
    svg * {
      fill: var(--fg-accent-1) !important;
    }

    .light-icon, .dark-icon {
      top: 1.5em;
      margin-left: 1em;
      padding: 0;
    }

    * {
      padding-left: 0.9em;
    }
  }

  .about-button {
    top: -3.2em !important;
    left: 14em !important;
  }

  h1 {
    margin: 3rem 0;
  }

  h2, h3 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  .no-nav {
    grid-row: 1/3;
  }

  .narrow-remove {
    display: none;
  }

  .narrow-show {
    display: block;
  }

  .narrow-show-inline {
    display: inline;
  }

  ul, ol {
    padding-left: 1.2em;
  }

  .list-cat-container, .flexbox {
    padding-left: 0;
  }

  footer {
    margin: 0;
    padding: 2rem;
    padding-left: var(--narrow-padding);
  }

  .post-nav {
    font-size: 16px;
  }

  .list-cat {
    position: static;
  }

  .list-cat-container {
    position: static;
    margin-bottom: 1em;
    margin-top: 0.3em;
  }

  .pic-wide {
    width: auto;
    margin: auto;
  }

  .caption-wide {
    width: 100%;
    margin-left: 0;
  }

  .col-2 {
    height: auto;
  }

  .horizontal-gallery-wrapper {
    overflow: auto;
    white-space: normal;
    padding: 0 var(--narrow-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    .gallery-meta {
      display: block;
      padding: 3rem 0 0 0;
      width: auto;
      height: auto;

      footer {
        display: none;
      }
    }

    .image-wrapper {
      display: contents;
      height: auto;
    }

    .img-gallery {
      height: auto;
      max-width: 90vw;
      max-height: 90vh;
    }
  }
}

// Removing nav elements at really narrow widths
@media screen and (max-width: 470px) {
  body {
    font-size: 16px;
  }

  nav {
    .nav-main {
      li {
        margin-bottom: 0;
        padding: 0 0.5em;
      }
    }

    .navName {
      margin-right: 0;

      .home-icon {
        display: block;
        margin: -0.3em 0;
        padding: 0;
        font-size: 26px;
      }
    }

    .name-mix {
      display: none;
    }

    .light-icon, .dark-icon {
      margin-left: -1em !important;
    }

    button {
      width: 30px;
    }
  }


}


// Theme Switch

button {
  border: none;
  margin: 2em 0 2.5em 1.7rem;
  cursor: pointer;
  //background: none;
}

p button {
  margin: 0;
}

.light-icon, .dark-icon {
  transition: opacity 0.1s ease;
  position: absolute;

  * {
    fill: var(--bg-accent-1);
    transition: fill 0.3s ease;
  }
}

.about-button svg {
  fill: var(--fg-accent-1);
}

.light-icon {
  opacity: 0%;
}

.dark-icon {
  opacity: 100%;
}

.about-button {
  position: relative;
  top: -3em;
  left: 13.5em;
  margin: -1em;

  button {
    margin: 0;
  }
}


// Report -> Porter

.name-mix {
  border-bottom: 1.5px solid transparent;
}

.navName {
  * {
    margin: 0 -0.13em;
    padding: 0;
    //position: relative;
    display: inline-block;

    transition: translate 0.3s ease;
  }

  &:hover {

    .name-mix {
      border-bottom: 1.5px solid var(--fg-accent-1);
    }

    #r1 {
      translate: 40.5px;
    }

    #e {
      translate: 25px;
    }

    #p {
      translate: -16px;
    }

    #o {
      translate: -16px;
    }

    #r2 {
      translate: -16px;
    }
    
    #t {
      translate: -16px;
    }
  }
}