<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% assign gallery = site.data.photos[page.photo_id] %}
  {% assign gallery_size = gallery.images.size %}

  <body>

    <main id="main" role="main" class="{{ page.main_columns }}">

      {% include navigation.html %}

      <div class="horizontal-gallery-wrapper">

        <div class="gallery-meta">
          <h1>{{ page.title }}</h1>
          <div>
            {{ content }}
            <p>There are {{ gallery_size }} photos in this set. <span class="narrow-remove">Use the arrow keys or scroll horizontally (shift + scroll with a mousewheel). →</span>
          </div>
        </div>

        {% for image in gallery.images %}
          <div class="image-wrapper">
            <a href="{{ gallery.imagefolder }}/{{ image.name }}"  title="{{ image.text}}">
              <div class="image-caption">{{ image.text }}</div>
              <img class="img-gallery" src="{{ gallery.imagefolder }}/{{ image.thumb }}" alt="{{ image.text }}" loading="lazy">
            </a>

          </div>
        {% endfor %}
      </div>

    </main>

    {% if page.url contains "/photos/" %}
      {% include gallery_scroll_js.html %}
    {% endif %}

    {% include theme_switch_js.html %}

  </body>
</html>